<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin ion-padding" style="margin-top: 20px;">
  
  <div align="center">
    <ion-img src="assets/icon/book.jpg" style="width: 50vw;"></ion-img>
  </div>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button routerLink="/nuevo-libro">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-searchbar placeholder="Buscar Título" class="ion-padding" (ionChange)="onSearchChange($event)"
    mode="ios" animated></ion-searchbar>

  @for (libro of libros | libros:libroBuscar ; track libro.id_libro ) {
  <ion-item (click)="verResenias(libro)" detail>
    <ion-thumbnail slot="start">
      <img alt="{{ libro.titulo }}" src="{{ libro.imagen }}" />
    </ion-thumbnail>
    <ion-label>
      <h2 style="font-weight: bold;">{{ libro.titulo }}</h2>
      <p>{{ libro.autor }}</p>
    </ion-label>
  </ion-item>
  }


</ion-content>